/* BODY { */
/* 	FONT-SIZE: 10pt; */
/* 	COLOR: black; */
/* 	FONT-FAMILY: Arial, Geneva, Helvetica, sans-serif; */
/* 	BACKGROUND-COLOR: white; */
/* 	background-image: url(../../images/backgroud.GIF); */
/* } */
table {
	table-layout:fixed;
	text-align:center;
 	border-spacing: 0px; 
 	
/* 	border-style:solid; */
}
TD {
	FONT-SIZE: 10pt; 
	height: 18pt;
	COLOR: black; 
}
TH {
	FONT-SIZE: 10pt; 
	COLOR: black; 
	BACKGROUND-COLOR: white
}