<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nku.xkxt.mapper.CommentMapper">
	<resultMap id="Comment_ResultMap" type="nku.xkxt.model.Comment">
		<id column="id" property="id" />
		<result column="selection_id" property="selectionId" />
		<result column="comment" property="comment" />
		<result column="score1" property="score1" />
		<result column="score2" property="score2" />
		<result column="score3" property="score3" />
		<result column="score4" property="score4" />
		<result column="score5" property="score5" />
		<result column="score6" property="score6" />
		<result column="total" property="total" />
	</resultMap>

	<sql id="Comment_Column_List">
		id,
		selection_id,
		comment,
		score1,
		score2,
		score3,
		score4,
		score5,
		score6,
		total
	</sql>
	
	<select id="getCommentById" resultMap="Comment_ResultMap" >
		select 
		<include refid="Comment_Column_List" />
		from comment
		<where>
			1=1
			<if test="id != null" >
		    	and  ID = #{id}
		    </if>
		</where>
	</select>
	
	<select id="getCommentBySelectionId" resultMap="Comment_ResultMap" >
		select 
		<include refid="Comment_Column_List" />
		from comment
		<where>
			1=1
			<if test="selectionId != null" >
		    	and  selection_id = #{selectionId}
		    </if>
		    limit 0,1
		</where>
	</select>
	
	<insert id="insertComment" parameterType="nku.xkxt.model.Comment" useGeneratedKeys="true" keyProperty="id">
		insert into comment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
					ID,
			</if>
			<if test="selectionId != null">
					selection_id,
			</if>
			<if test="comment != null">
					comment,
			</if>
			<if test="score1 != null">
					score1,
			</if>
			<if test="score2 != null">
					score2,
			</if>
			<if test="score3 != null">
					score3,
			</if>
			<if test="score4 != null">
					score4,
			</if>
			<if test="score5 != null">
					score5,
			</if>
			<if test="score6 != null">
					score6,
			</if>
			<if test="total != null">
					total
			</if>
		</trim>
		values <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
					#{id},
			</if>
			<if test="selectionId != null">
					#{selectionId},
			</if>
			<if test="comment != null">
					#{comment},
			</if>
			<if test="score1 != null">
					#{score1},
			</if>
			<if test="score2 != null">
					#{score2},
			</if>
			<if test="score3 != null">
					#{score3},
			</if>
			<if test="score4 != null">
					#{score4},
			</if>
			<if test="score5 != null">
					#{score5},
			</if>
			<if test="score6 != null">
					#{score6},
			</if>
			<if test="total != null">
					#{total}
			</if>
		</trim>
	</insert>
	
	<select id="getCommentByCourseId" resultMap="Comment_ResultMap" >
		select c.*
		from comment c join nkuedu.selection s on s.id = c.selection_id
		<where>
			1=1
			<if test="courseId != null" >
		    	and  s.course_id = #{courseId}
		    </if>
		</where>
	</select>
	
</mapper>