<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nku.xkxt.mapper.StudentMapper">
	<resultMap id="Student_ResultMap" type="nku.xkxt.model.Student">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="school" property="school" />
		<result column="telephone" property="telephone" />
		<result column="email" property="email" />
		<result column="passwd" property="passwd" />
		<result column="student_num" property="studentNum" />
	</resultMap>

	<sql id="Student_Column_List">
		id,
		name,
		school,
		telephone,
		email,
		passwd,
		student_num
	</sql>
	
	<sql id="Student_WitoutPw_Column_List">
		id,
		name,
		school,
		telephone,
		email,
		student_num
	</sql>

	<select id="getStudentById" resultMap="Student_ResultMap" >
		select 
		<include refid="Student_WitoutPw_Column_List" />
		from student
		<where>
			0=0
			<if test="id != null" >
		    	and  ID = #{id}
		    </if>
		</where>
	</select>
	
	<insert id="insertStudent" parameterType="nku.xkxt.model.Student" useGeneratedKeys="true" keyProperty="id">
		insert into student
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
					ID,
			</if>
			<if test="name != null">
					name,
			</if>
			<if test="school != null">
					school,
			</if>
			<if test="telephone != null">
					telephone,
			</if>
			<if test="email != null">
					email,
			</if>
			<if test="passwd != null">
					passwd,
			</if>
			<if test="studentNum != null">
					student_num
			</if>
		</trim>
		values <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
					#{id},
			</if>
			<if test="name != null">
					#{name},
			</if>
			<if test="school != null">
					#{school},
			</if>
			<if test="telephone != null">
					#{telephone},
			</if>
			<if test="email != null">
					#{email},
			</if>
			<if test="passwd != null">
					#{passwd},
			</if>
			<if test="studentNum != null">
					#{studentNum}
			</if>
		</trim>
	</insert>
	
	<select id="getLastStudentNum" resultType="int" >
		select 
		max(student_num) FROM student
	</select>
	
	<select id="checkStudentByEmail" resultMap="Student_ResultMap" >
		select 
		<include refid="Student_WitoutPw_Column_List" />
		from student
		<where>
			0=0
			<if test="email != null" >
		    	and  email = #{email}
		    </if>
		</where>
	</select>
	
	<select id="getStudentNumByEmail" resultType="string" >
		select student_num
		from student
		<where>
			is_delete=0
			<if test="email != null" >
		    	and  email = #{email}
		    </if>
		</where>
	</select>
	
</mapper>