@CHARSET "UTF-8";
body{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/main/leftmenu.jpg);
	background-repeat: repeat;
}
.left{
	margin-top:81px;
	width:110px;
	height:100%;
	positon:relative;
	float:left;
}

li{
	list-style: none;
	line-height:35px;
}

a:link,a:visited {
	color: #0000FF;
	text-decoration:none; 
}		/* 未访问的链接 */

a:hover {
	color: #FF00FF;
	text-decoration:underline; 
}	/* 鼠标移动到链接上 */


