@CHARSET "UTF-8";

body{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/login/login_09.gif);
	background-repeat: repeat;
}

.main {
	width: 1022px;
	margin: 0 auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
}

.header	{
	background: url(../images/register/login_02.gif) no-repeat center top;
	height: 111px;
}

.content {
	width: 822px;
	margin: 0 auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
}

.footer {
	width: 956px;
	margin: 0 auto;
	background-color: #fff;
	text-align: center;
	color: #a6a6a6;
	padding: 20px 0;
}

input{
	display:inline;
}

#a,#b,#c,#d,#e,#f,#warn{
	/*font-weight:bold;*/
	font-size: 10px;
	color:blue;
	display: inline;
}
li{
	list-style: none;
	line-height:35px;
}

#errorhint
  {
  font-size: 20px;
  background-image:url('../images/register/hint.png');
  background-repeat: no-repeat;
  background-position: 2px 3px;
  width: 22px;
  height: 22px;
  }

 #OKhint
  {
  font-size: 20px;
  background-image:url('../images/register/hint.png');
  background-repeat: no-repeat;
  background-position: 2px -198px;
  width: 22px;
  height: 22px;
  }